/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */

#root {
  /* font-family: "Roboto Mono", monospace; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: white;
  height: 100vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list-container {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
}

.tracker {
  display: flex;
  gap: 1em;
  align-items: center;
}

.form-add-project {
  max-width: fit-content;
  margin: 0 auto;
  border: 1px solid gainsboro;
  border-radius: 3px;
}